<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Bakery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" /> 
  </head>
  <body>
    <h1>Welcome to the Vendor/Order Tracker for Pierre's Bakery!</h1>
    <h3><a href='/vendors'>View VENDOR list</a></h3>
    <h3><a href='/vendors/new'>Add a new VENDOR</a></h3>
  </body>
</html> 