<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Bakery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" /> 
  </head>
  <body>
    <h1>Add a new order to @Model.Name</h1>
    <form action="/vendors/@Model.Id/orders" method="post">
      <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
      <label for="orderTitle">Verify Vendor's Name:</label>
      <input id="orderTitle" name="orderTitle" type="text">
      <br>
      <label for="orderDescription">Description of order:</label>
      <input id="orderDescription" name="orderDescription" type="text">
      <br>
      <label for="orderPrice">How much did you charge? $</label>
      <input id="orderPrice" name="orderPrice" type="text">
      <br>
      <label for="orderDate">When was this order fulfilled? DDMMYYYY</label>
      <input id="orderDate" name="orderDate" type="text">
      <br>
      <button type='submit'>Add Order</button>
    </form>
  </body> 
</html>