<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Bakery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" /> 
  </head>
  <body>
    <h1>Order Details: </h1>
      <h3>Vendor: @Model["vendor"].Name</h3>
      <h2>@Model["order"].Description</h2>
      <h2>How much you charged: $@Model["order"].Price</h2>
      <h2>Date order was fulfilled: @Model["order"].Date</h2>
    <br>
    <a href='/vendors'>Back to all vendors</a>
  </body>
</html>